<div class="card">
  <ng-content></ng-content>

  <form [formGroup]="form">
    <div class="grid p-fluid gap-3">
      <div *ngFor="let field of fields" class="gap-2 w-full">
        <label [for]="field.name">{{ field.label }}</label>
        <input *ngIf="field.type !== 'radio'" class="mt-1" [id]="field.name" [type]="field.type" pInputText
          [formControlName]="field.name" />
        <div class="flex flex-wrap gap-2" *ngIf="field.type === 'radio'">
          <div class="flex items-center">
            <input checked [type]="'radio'" name="roleGroup" value="user" [formControlName]="'role'" id="user" />
            <label for="user" class="ml-2">User</label>
          </div>
          <div class="flex items-center">
            <input [type]="'radio'" name="roleGroup" value="admin" [formControlName]="'role'" id="admin" />
            <label for="admin" class="ml-2">Admin</label>
          </div>
          <div class="flex items-center">
            <input [type]="'radio'" name="roleGroup" value="manager" [formControlName]="'role'" id="manager" />
            <label for="manager" class="ml-2">Manager</label>
          </div>
          
        </div>
    </div>
</div>
</form>
</div>

<div class="mt-3 flex justify-content-end">
   <p-button type="button" [disabled]="isLoading || form.invalid " (click)="onSubmit()">Submit</p-button>
</div>