
<p-toolbar>
  <div class="p-toolbar-group-start">
    <button pButton type="button" icon="pi pi-bars" label="Menu"
            class="p-button-text" (click)="toggleSidebar()"></button>
  </div>
  <div class="p-toolbar-group-end">Flow Project</div>
</p-toolbar>

<!-- Layout: sidebar + content in the same grid -->
<div class="layout" [class.sidebar-collapsed]="!sidebarOpen">
  <aside class="sidebar">
    <h3>Navigation</h3>
    <nav class="menu">
      <a routerLink="" class="menu-item">form page</a>
       <a routerLink="/settings" class="menu-item">Settings</a>
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
