<p-toolbar styleClass="border-0 m-0 p-2" >
  <div class="p-toolbar-group-start"  >
    <div class="p-toolbar-group-end"><b>TrailForge</b></div>

    <button pButton type="button" icon="pi pi-bars" label="" class="ml-3 p-button-text"
      (click)="toggleSidebar()"></button>
  </div>
  <div>
    <button pButton class="p-button p-button-text" icon="pi pi-sign-out" (click)="logout()">
    </button>
  </div>
</p-toolbar>

<div class="layout" [class.sidebar-collapsed]="!sidebarOpen">
  <aside class="sidebar">
    <nav class="menu">
       <a routerLink="" class="menu-item"><span class="menu-icon pi pi-home pr-1"></span><span class="menu-label">Home</span> </a>
      <a routerLink="/settings" class="menu-item"><span class="menu-icon pi pi-cog pr-1"></span><span class="menu-label">Settings</span></a>
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>