<div class="p-panel-content">
  <div
    class="flex align-items-center justify-content-center text-2xl font-bold mb-1 bpaas-flow-header-title mb-4"
  >
    <span class="ng-star-inserted">Application Form</span>
  </div>
  <!-- <p-autoComplete
    [(ngModel)]="value"
    [suggestions]="items"
    (completeMethod)="search($event)"
  /> -->

  <p-tabView value="0" class="mt-3">
    <p-tabPanel header="Form info" >
      <p-fieldset legend="Basic info" [toggleable]="true">
        <form [formGroup]="formGroup">
          <div class="grid p-fluid gap-3 ">
            <div class="col gap-2">
              <label for="appnumber">Application Number</label>
              <input
                id="appnumber"
                type="text"
                pInputText
                formControlName="appnumber"
              />
              <label for="applicant">Applicant </label>
              <input id="applicant" type="text" pInputText formControlName="applicant" />
            </div>
            <div class="col gap-2">
              <label for="appdate">Application Date </label>
              <input
                id="appdate"
                type="text"
                pInputText
                formControlName="appdate"
              />
              <label for="appdepartment">Applicant Department</label>
              <input id="appdepartment" type="text" pInputText formControlName="appdepartment" />
            </div>
           
          </div>
        </form>
      </p-fieldset>
      <div class="mt-3">
        <p-fieldset legend="Application Content" [toggleable]="true">
          <form [formGroup]="formGroup">
            <div class="grid p-fluid gap-3">
              <div class="gap-2">
                <label for="sales">Sales</label>
                <p-autoComplete
                  formControlName="salesAutoComplete"
                  [suggestions]="suggestions()"
                  (completeMethod)="getAutoCompleteSuggestions($event)"
                  [delay]="300"
                />
              </div>
              <div class="gap-2">
                <label for="name">Sales Department </label>
                <input type="text" pInputText formControlName="salesDepartment" />
              </div>
              <div class="gap-2">
                <label for="name">Customer </label>
                <input type="text" pInputText formControlName="customer" />
              </div>
              <div class="gap-2">
                <label for="name">OU</label>
                <input type="text" pInputText formControlName="ou" />
              </div>
              <div class="gap-2">
                <label for="name">Inv. Org</label>
                <input type="text" pInputText formControlName="invOrg" />
              </div>
              <div class="gap-2">
                <label for="name">Do</label>
                <input type="text" pInputText formControlName="do" />
              </div>
            </div>
            <div class="mt-3">
              <p-button label="Submit" (click)="onSubmit()"/> 
            </div>
          </form>
        </p-fieldset>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Attachments">
      <p class="m-0">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non
        numquam eius modi.
      </p>
    </p-tabPanel>
    
  </p-tabView>
</div>
